name: Generate and Deploy Doxygen Docs

on:
  push:
    branches: [ task_03 ]  # Твоя ветка проекта

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Doxygen
        run: sudo apt-get update && sudo apt-get install -y doxygen graphviz

      - name: Generate Doxygen documentation
        run: doxygen Doxyfile

      - name: Move documentation to docs folder
        run: |
          mkdir -p docs
          cp -r trunk/ii02825/task_03/doc/html/* docs/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
